<article>
    <!-- Las propiedades y métodos del controlador se interpretan en las templates cuando van dentro del par de llaves -->
    <!--{{ compoPadre.foo }} -->
    <div class="about-container">
    <h3>Juego de memoria de cartas</h3>
    <p>El objetivo del juego es emparejar las cartas que están boca abajo.</p>
    <br>
    <p>Cada acierto suma 10 punto en el contador de aciertos, mientras que cada fallo suma 1 punto en el contador de fallos.</p>
    <br>
    <br>
    <p>¡¡¡¡Disfruta!!!!</p>
    </div>
</article>